header{
    background-image: url('img/pattern.png');
    height: 100px;
    background-color: #58A6FF;
}

#logo{
    height: 50px;
}

.titolo{
    font-size: 50px;
    font-weight: bold;
}

.autore{
    color: gray;
    font-size: 18;
    font-weight: bold;
    height: 50px;
}

#booleaner{
    color: blue;
}

.data{
    color: gray;
    font-size: 12px;
}

.didascalia{
    font-size: 12px;
}

.importante{
    background-color: yellow;
}

table{
    text-align: left;
}

thead{
    background-color: #20a9e5;
    color: white;
}

.corto {
    width: 300px;
}

.dispari{
    background-color: #B1E5F2;
}

.aggiunte{
    color: gray;
    font-weight: bold;
}

.approfondimento1{
    height: 150px;
    width: 200px;
    background-image: url(img/monitor.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.approfondimento2{
    height: 150px;
    width: 200px;
    background-image: url(img/graph.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    color: white;
    font-size: 18px;
    font-weight: bold;
}