header{
    background-image: url('img/pattern.png');
    height: 100px;
    background-color: #58A6FF;
}

#logo{
    height: 50px;
}

.titolo{
    font-size: 50px;
    font-weight: bold;
}

.autore{
    color: gray;
    font-size: 18;
    font-weight: bold;
}

#booleaner{
    color: blue;
}

.data{
    color: gray;
    font-size: 12px;
}

.didascalia{
    font-size: 12px;
}

.importante{
    background-color: yellow;
}

table{
    text-align: left;
}

thead{
    background-color: #20a9e5;
}

.corto {
    width: 300px;
}

.dispari{
    background-color: #B1E5F2;
}